---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (
  await getCollection('blog', ({ data }) => {
    return data.hideInList !== true;
  })
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="mx-auto prose prose-cyan">
    <ul class="slide-enter-content">
      {
        posts.map((post) => (
          <li>
            <div>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              <br />
              <FormattedDate date={post.data.pubDate} />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
