---
import FormattedDate from "@/components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

const { title, description, pubDate, updatedDate, minutesRead } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="mx-auto prose prose-cyan dark:prose-invert">
    {pubDate && <FormattedDate date={pubDate} />}
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    {minutesRead ? ` · ${minutesRead}` : ""}
    <h1>{title}</h1>
    <div class="slide-enter-content"><slot /></div>
  </article>
</BaseLayout>
